.Alert{
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 8px;
  right: 8px;
  bottom: 8px;
  background: #676767;
  box-shadow: 2px 2px 4px rgba(164, 164, 164, 0.25);
  font-size: 10px;
  line-height: 11px;
  padding: 16px 8px;
}
.Alert__message{
  color: #FFFFFF;
}
.Alert__dismiss{
  color: #8FD2FF;
  cursor: pointer;
}